delta/common/etc/MsoService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MsoService" targetNamespace="http://webmedia.ee/mso" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://webmedia.ee/mso" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
   xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
   xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
   <wsp:Policy wsu:Id="MsoPortBinding_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:types>
      <xsd:schema targetNamespace="http://webmedia.ee/mso/Imports">
         <xsd:import schemaLocation="MsoService2-0.xsd" namespace="http://webmedia.ee/mso" />
         <xsd:import schemaLocation="MsoService2-1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
         <xsd:import schemaLocation="MsoService2-2.xsd" namespace="http://schemas.datacontract.org/2004/07/MSOService" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="msoDocumentInput">
      <wsdl:part name="parameters" element="tns:msoDocumentInput" />
   </wsdl:message>
   <wsdl:message name="msoPdfOutput">
      <wsdl:part name="parameters" element="tns:msoPdfOutput" />
   </wsdl:message>
   <wsdl:message name="msoDocumentAndFormulasInput">
      <wsdl:part name="parameters" element="tns:msoDocumentAndFormulasInput" />
   </wsdl:message>
   <wsdl:message name="msoDocumentOutput">
      <wsdl:part name="parameters" element="tns:msoDocumentOutput" />
   </wsdl:message>
   <wsdl:message name="msoDocumentAndPdfOutput">
      <wsdl:part name="parameters" element="tns:msoDocumentAndPdfOutput" />
   </wsdl:message>
   <wsdl:message name="formulaOutput">
      <wsdl:part name="parameters" element="tns:formulaOutput" />
   </wsdl:message>
   <wsdl:message name="MsoPortBinding_ping_InputMessage" />
   <wsdl:message name="pingOutput">
      <wsdl:part name="parameters" element="tns:pingOutput" />
   </wsdl:message>
   <wsdl:portType name="MsoPortBinding">
      <wsdl:operation name="convertToPdf">
         <wsdl:input wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/convertToPdf" name="msoDocumentInput" message="tns:msoDocumentInput" />
         <wsdl:output wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/convertToPdfResponse" name="msoPdfOutput" message="tns:msoPdfOutput" />
      </wsdl:operation>
      <wsdl:operation name="replaceFormulas">
         <wsdl:input wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/replaceFormulas" name="msoDocumentAndFormulasInput" message="tns:msoDocumentAndFormulasInput" />
         <wsdl:output wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/replaceFormulasResponse" name="msoDocumentOutput" message="tns:msoDocumentOutput" />
      </wsdl:operation>
      <wsdl:operation name="replaceFormulasAndConvertToPdf">
         <wsdl:input wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/replaceFormulasAndConvertToPdf" name="msoDocumentAndFormulasInput" message="tns:msoDocumentAndFormulasInput" />
         <wsdl:output wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/replaceFormulasAndConvertToPdfResponse" name="msoDocumentAndPdfOutput" message="tns:msoDocumentAndPdfOutput" />
      </wsdl:operation>
      <wsdl:operation name="modifiedFormulas">
         <wsdl:input wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/modifiedFormulas" name="msoDocumentInput" message="tns:msoDocumentInput" />
         <wsdl:output wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/modifiedFormulasResponse" name="formulaOutput" message="tns:formulaOutput" />
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/ping" message="tns:MsoPortBinding_ping_InputMessage" />
         <wsdl:output wsaw:Action="http://webmedia.ee/mso/MsoPortBinding/pingResponse" name="pingOutput" message="tns:pingOutput" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MsoPortBinding" type="tns:MsoPortBinding">
      <wsp:PolicyReference URI="#MsoPortBinding_policy" />
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="convertToPdf">
         <soap:operation soapAction="http://webmedia.ee/mso/MsoPortBinding/convertToPdf" style="document" />
         <wsdl:input name="msoDocumentInput">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="msoPdfOutput">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="replaceFormulas">
         <soap:operation soapAction="http://webmedia.ee/mso/MsoPortBinding/replaceFormulas" style="document" />
         <wsdl:input name="msoDocumentAndFormulasInput">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="msoDocumentOutput">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="replaceFormulasAndConvertToPdf">
         <soap:operation soapAction="http://webmedia.ee/mso/MsoPortBinding/replaceFormulasAndConvertToPdf" style="document" />
         <wsdl:input name="msoDocumentAndFormulasInput">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="msoDocumentAndPdfOutput">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="modifiedFormulas">
         <soap:operation soapAction="http://webmedia.ee/mso/MsoPortBinding/modifiedFormulas" style="document" />
         <wsdl:input name="msoDocumentInput">
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="formulaOutput">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <soap:operation soapAction="http://webmedia.ee/mso/MsoPortBinding/ping" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output name="pingOutput">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MsoService">
      <wsdl:port name="MsoPortBinding" binding="tns:MsoPortBinding">
         <soap:address location="http://localhost:8000/Mso/service" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>