common/source/java/ee/webmedia/mso/MsoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webmedia.ee/mso" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webmedia.ee/mso" name="MsoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webmedia.ee/mso" schemaLocation="MsoService.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="convertToPdf">
<part name="parameters" element="tns:convertToPdf"></part>
</message>
<message name="convertToPdfResponse">
<part name="parameters" element="tns:convertToPdfResponse"></part>
</message>
<message name="replaceFormulas">
<part name="parameters" element="tns:replaceFormulas"></part>
</message>
<message name="replaceFormulasResponse">
<part name="parameters" element="tns:replaceFormulasResponse"></part>
</message>
<message name="replaceFormulasAndConvertToPdf">
<part name="parameters" element="tns:replaceFormulasAndConvertToPdf"></part>
</message>
<message name="replaceFormulasAndConvertToPdfResponse">
<part name="parameters" element="tns:replaceFormulasAndConvertToPdfResponse"></part>
</message>
<portType name="Mso">
<operation name="convertToPdf">
<input message="tns:convertToPdf"></input>
<output message="tns:convertToPdfResponse"></output>
</operation>
<operation name="replaceFormulas">
<input message="tns:replaceFormulas"></input>
<output message="tns:replaceFormulasResponse"></output>
</operation>
<operation name="replaceFormulasAndConvertToPdf">
<input message="tns:replaceFormulasAndConvertToPdf"></input>
<output message="tns:replaceFormulasAndConvertToPdfResponse"></output>
</operation>
</portType>
<binding name="MsoPortBinding" type="tns:Mso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="convertToPdf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="replaceFormulas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="replaceFormulasAndConvertToPdf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MsoService">
<port name="MsoPort" binding="tns:MsoPortBinding">
<soap:address location="ENDPOINT_ADDRESS"></soap:address>
</port>
</service>
</definitions>