src/common/source/java/ee/webmedia/mso/MsoService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://webmedia.ee/mso" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webmedia.ee/mso">

<xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"></xs:import>
<xs:element name="convertToPdf" nillable="true" type="tns:convertToPdf"></xs:element>

<xs:element name="convertToPdfResponse" nillable="true" type="tns:convertToPdfResponse"></xs:element>

<xs:complexType name="convertToPdf">
<xs:sequence>
<xs:element name="msoInput" type="tns:msoInput"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="msoInput">
<xs:sequence>
<xs:element name="content" type="swaRef:swaRef"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertToPdfResponse">
<xs:sequence>
<xs:element name="msoOutput" type="tns:msoOutput"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="msoOutput">
<xs:sequence>
<xs:element name="content" type="swaRef:swaRef"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>