common/etc/DigiDocService_2_3_V2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.sk.ee/DigiDocService/DigiDocService_2_3.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sk.ee/DigiDocService/DigiDocService_2_3.wsdl" targetNamespace="http://www.sk.ee/DigiDocService/DigiDocService_2_3.wsdl">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sk.ee/DigiDocService/DigiDocService_2_3.wsdl">
        <import namespace="http://www.sk.ee/DigiDocService/DigiDocService_2_3.wsdl" schemaLocation="https://digidocservice.sk.ee/v2/mid.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MobileSignHashRequest">
    <wsdl:part element="tns:MobileSignHashRequest" name="MobileSignHashRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MobileSignHashResponse">
    <wsdl:part element="tns:MobileSignHashResponse" name="MobileSignHashResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMobileSignHashStatusRequest">
    <wsdl:part element="tns:GetMobileSignHashStatusRequest" name="GetMobileSignHashStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMobileSignHashStatusResponse">
    <wsdl:part element="tns:GetMobileSignHashStatusResponse" name="GetMobileSignHashStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MobileId">
    <wsdl:operation name="MobileSignHash">
      <wsdl:input message="tns:MobileSignHashRequest" name="MobileSignHashRequest">
    </wsdl:input>
      <wsdl:output message="tns:MobileSignHashResponse" name="MobileSignHashResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileSignHashStatus">
      <wsdl:input message="tns:GetMobileSignHashStatusRequest" name="GetMobileSignHashStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetMobileSignHashStatusResponse" name="GetMobileSignHashStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileIdService" type="tns:MobileId">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MobileSignHash">
      <soap:operation soapAction=""/>
      <wsdl:input name="MobileSignHashRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MobileSignHashResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileSignHashStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetMobileSignHashStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetMobileSignHashStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileIdService">
    <wsdl:port binding="tns:MobileIdService" name="MobileIdService">
      <soap:address location="https://digidocservice.sk.ee/v2/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>